<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsFgU1lz8BSAE4RrLxdH_S6Ob0BYSRru0</string>
	<key>GCM_SENDER_ID</key>
	<string>905393707829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sevenXc</string>
	<key>PROJECT_ID</key>
	<string>dtuclimbing</string>
	<key>STORAGE_BUCKET</key>
	<string>dtuclimbing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905393707829:ios:a3871d45945542cb884a7c</string>
</dict>
</plist>